.main{
    background-color: #000;
    align-items: center;
}

.login-div{
    display: flex;
    flex-direction: row;
    margin-top: 162px;
    height: 500px;
}

.main-div{
    margin-top: 50px;
    height: 860px;
    display: flex;
    flex-direction: row;
}

h1{
    color: white;
    /* padding-top: 100px; */
}

.imageUpload{
    background-image: url(../../images/plane.png);
    background-repeat: no-repeat;
    height: 365px;
    width: 100%;
    float: left;
    color: white;
}

.forms{
    width: 50%;
    float: right;
    /* border: 1px solid white; */
}

input, select, textarea{
    display: flex;
    height: 35px;
    width: 465px;
    margin-bottom: 15px;
    /* margin-left: 102px;  */
    /* background: transparent; */
    background-color: #343434;
    border: 1px solid white;
    color: white;
}

button{
    height: 40px;
    width: 152px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #343434; 
    border: 1px solid #fff;
    margin-right: 755px;  
    margin-top: 20px; 
}

button:hover {
    background-color: #000;
}

.error{
    color: red;
    /* margin-right: 775px; */
}


