body {
  font-size: 14px;
  line-height: 25px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 30px;
  line-height: 34px;
  margin-bottom: 10px;
}

.container {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}

input,
select,
.ant-picker {
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  background: #f1f1f1;
  margin-bottom: 10px;
  border-radius: 0;
}
input:focus,
select:focus {
  outline: solid;
}

textarea:focus,
input:focus {
  color: black;
}

::placeholder {
  font-style: italic;
}

.ant-picker input {
  margin-bottom: 0;
}

.form {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

section {
  padding: 50px 0;
}

form {
  margin-top: 32px;
}

.error {
  color: red;
  text-align: left;
  font-size: 12px;
}

button {
  padding: 10px 20px;
  background: red;
  color: #fff;
  font-size: 14px;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
}

select option:disabled {
  background-color: #ccc;
  font-size: 16px;
}

.input_wrap {
  position: relative;
}

.input_wrap i {
  position: absolute;
  right: 10px;
  line-height: 40px;
  font-size: 12px;
}

/*header*/
.header {
  background: #ffcc00;
}

.header_content {
  display: flex;
  flex-direction: row;
}

.logo,
.logo img {
  max-width: 100px;
}

.navbar {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 100px;
}

.navbar_left {
  flex-grow: 1;
}

ul.nav_list li {
  display: inline-block;
  margin-left: 10px;
  position: relative;
}

.user_profile i {
  height: 25px;
  width: 25px;
  line-height: 25px;
  display: inline-block;
  background: #fca401;
  text-align: center;
  border-radius: 50%;
  color: red;
}

ul.menu-dropdown {
  background: red;
  position: absolute;
  right: 0;
  width: 152px;
  opacity: 0;
}

li.active .menu-dropdown {
  opacity: 1;
}

.menu-icon {
  background-color: transparent;
  border: 0;
  font-size: 18px;
  padding: 0;
  line-height: 6px;
}

/* card */

.card_block {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.bg-image {
  background-image: url(./images/courier.jpg);
  filter: blur(8px);
  -webkit-filter: blur(10px);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  height: 150px;
  width: 150px;
  background: #fc0;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-flow: column;
  font-size: 14px;
  justify-content: center;
  text-decoration: none;
  margin: 10px;
  transition: all 0.3s ease;
}

.card p.title{
  font-weight: 700;
  font-size: 18px;
}

.card:hover {
  transform: translateY(-15px);
}

.card i {
  height: 50px;
  width: 50px;
  background: rgb(239 3 3 / 20%);
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  color: red;
  margin: 0 auto;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 18px;
}

h4 {
  display: flex;
  align-items: center;
  position: absolute;
  top: 29%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  color: #fff;
}

.order_item {
  background: #e9e9e9;
  margin-bottom: 10px;
  border: 1px solid #d7d5d5;
}

.badge {
  float: right;
  padding: 5px 10px;
  line-height: 10px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 700;
}

.loader .badge {
  padding: 0;
}

.pending {
  color: #d19100;
}

.success {
  color: green !important;
}

.cancel {
  color: red;
}

.btns {
  text-align: right;
}

.btns button {
  padding: 5px;
  background: none;
  color: #333;
}

.btns.rider button {
  background: rgb(0 0 0 / 18%);
  border-radius: 50%;
  padding: 0;
  height: 25px;
  width: 25px;
  text-align: center;
  line-height: 30px;
  margin-left: 20px;
  position: relative;
  font-size: 16px;
  position: relative;
}

.btns.rider button::before {
  position: absolute;
  right: -14px;
  content: '';
  height: 1px;
  width: 9px;
  background: rgb(0 0 0 / 18%);
  top: 50%;
}

.btns.rider  button:last-child::before {
  content: none;
}

.btns.rider  button.active {
  background: green ;
  color: #fff ;
}

.btns.rider  button.active::before{
  background: green;
}

.top {
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  background: rgb(255 204 0 / 40%);
}

.top,
.bottom {
  padding: 5px 10px;
}

.title {
  margin-bottom: 10px;
}

.title i {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: red;
  background: rgb(239 3 3 / 20%);
  font-size: 19px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
}

.top span {
  font-size: 13px;
  margin-right: 15px;
  font-weight: 500;
}

.bottom ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.bottom ul li {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 24px;
  line-height: 22px;
}

.bottom ul li:first-child {
  padding-left: 0;
}

.bottom ul li i {
  color: red;
  margin-right: 3px;
  position: absolute;
  left: 0;
}

.loader .top,
.order_item {
  border: 0;
  background: none;
}

.order_item {
  background: #efeded;
}

.btn btn-success {
  background-color: green;
}

.btn btn-danger {
  background-color: red;
}

table {
  width: 100%;
  border-spacing: 0;
  border: 1px solid #eee;
  margin-bottom: 10px;
}

table button {
  padding: 5px 8px;
  font-size: 12px;
  text-transform: capitalize;
}

thead {
  background: #ddd;
  font-weight: 500;
}

th {
  line-height: 20px;
  font-weight: 600;
}

tr:nth-child(even) {
  background: #f3f3f3;
}

td,
th {
  padding: 5px 10px;
  text-align: left;
  font-size: 13px;
}

td:last-child {
  display: flex;
  gap: 5px;
}

button.cancel {
  background: rgb(255 0 0 / 35%);
}

button.success {
  background: #00800047;
}

/* profile 
======================== */
.user_profile {
  display: flex;
  align-items: center;
  position: relative;
}

.user_img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: #ccc;
  line-height: 200px;
  border: 6px solid #eee;
  position: relative;
  overflow: hidden;
}

.user_detail {
  margin-left: 15px;
}

.uploader {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  position: absolute;
  left: 136px;
  top: 0;
  font-size: 20px;
}

.user_edit {
  position: absolute;
  right: 0;
  top: 0;
}

.error-page {
  background-color: #ffcc00;
  height: calc(100vh - 63px);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-texts h1 {
  font-size: 200px;
  line-height: 160px;
  margin-bottom: 40px;
  font-weight: 700 !important;
}

.error-texts h2 {
  font-size: 25px;
  color: #fff;
  font-weight: normal;
  margin-bottom: 15px;
}

.error-texts svg {
  font-size: 100px;
  color: red;
}

label.sc-bcXHqe.lkjDVC {
  border: 1px solid #ccc;
  background: #f1f1f1;
  border-radius: 0;
  margin-bottom: 10px;
}

.sc-dkrFOg.dmajdp {
  font-style: italic;
  margin-left: 10px;
}

.ant-drawer-wrapper-body {
  background: #000;
}

.ant-drawer-body a {
  color: #fff;
  display: block;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 17px;
  transition: all 0.5s ease;
}

.ant-drawer-body a:hover {
  background: rgb(255 255 255 / 20%);
  color: #fff;
}

button.ant-drawer-close {
  height: 40px;
  width: 40px;
  text-align: center !important;
  color: #fff !important;
  padding: 0;
  background: rgba(255, 255, 255, 0.3) !important;
  border-radius: 50%;
}

span.anticon.anticon-close {
  color: #fff;
}

.category_list{
  display: flex;
  flex-flow: row wrap;
}

.category_list .card {
  display: flex;
  width: calc((100% - 40px) / 2);
  height: auto;
  flex-flow: column;
  margin-right: 20px;
  text-align: left;
  padding: 20px;
  justify-content: inherit;
}

.category_list .card:nth-child(2n) {
  margin-right: 0;
}

.category_list .card:nth-child(1n) {
  margin-left: 0;
}

.category_list .card p{
  display: inline-block;
  margin-left: 10px;
}
.half_section{
  display: flex;
}

.half_section>div{
  width: 50%;
}

.ant-steps-item-icon {
  height: 40px !important;
  width: 40px !important;
  border-radius: 50% !important;
  background: #d5d3d3 !important;
  display: inline-block;
  line-height: 48px !important;
  padding: 0;
}

.ant-steps-item-finish span.ant-steps-icon,
.ant-steps-item-finish .ant-steps-item-title{
  color: green !important;
}

.ant-steps-item-finish .ant-steps-item-icon {
  background: rgb(0 128 0 / 26%) !important;
}

.ant-steps-item-finish ::after {
  background-color: green !important;
}

.ant-steps-item-title {
  font-size: 16px !important
}

.ant-steps-item-title::after {
  height: 2px !important
}