.register{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('.././media/dhl.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.register form{
    width:500px;
    height: 100%;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 40px 0;
}
.register form h1{
  padding: 12px 0 36px 0;
  font-weight: bolder;
}
.register form input, select{
    width: 308px;
    height: 35px;
    border: 2px solid green;
    border-radius: 8px;
    padding-left: 10px;
    display: block;
    margin: 0 auto 11px auto;
}
.register form button{
  margin-top: 25px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}